@import "../../../../../assets/fonts/Spectral/font-stylesheet.css";
.instruction{
  color: #0096D5;
  cursor: pointer;
  text-decoration: underline;
  font-family: Spectral-Medium, sans-serif;
}
img{
  max-width: 100%;
  height: 300px;
}
.last_content{
  margin-top: 2%;
}
