<footer >
<!--    <div fxLayout="row wrap" class="footer_top" >
      <div fxFlex="14" fxFlex.md="25" fxFlex.sm="30" fxFlex.xs="100" class="first_row" fxLayout="column"  fxLayoutAlign="start start">
        <p>Внешние ресурсы</p>
        <p class="text">Электронное лицензирование</p>
        <p class="text">Кабинет налогоплательщика</p>
        <p class="text">Судебный кабинет</p>
      </div>

      <div fxFlex="5" fxFlex.md="0" fxFlex.xs="0" fxFlex.sm="0" fxLayoutAlign="center center">
        <hr>
      </div>

      <div fxFlex="57" fxFlex.sm="30"  fxFlex.md="30"  fxFlex.xs="100" class="second_row" fxLayout="column" fxLayoutAlign="center start">

        <p>Электронное лицензирование</p>
        <p>Кабинет налогоплательщика</p>
        <p>Судебный кабинет</p>
      </div>

      <div fxFlex="20" fxFlex.sm="30" fxFlex.md="30" fxFlex.xs="100" class="last_row" fxLayout="column" fxLayoutAlign="start center">
        <p class="share"><img src="../../../assets/icons/share.svg" alt="">ПОДЕЛИТЬСЯ РЕСУРСОМ</p>

        <div class="socials" fxLayout="row" fxLayoutAlign="space-between center">
          <img src="../../../assets/icons/Facebook.svg">
          <img src="../../../assets/icons/google+.svg">
          <img src="../../../assets/icons/Vector.svg">
          <img src="../../../assets/icons/Vector-1.svg">
        </div>
      </div>

    </div>-->

    <div class="footer_bottom">
      <div fxLayout="row" fxLayoutAlign="center center">
        <p class="text" [fxFlex.sm]="40">© Электронный акимат Жамбылской области</p>

        <a [fxFlexOffset.sm]="20">Регистрация для сотрудников</a>
      </div>


    </div>

</footer>
