<h4 class="rel_category_title">{{'HowToRelCat' | translate}}?</h4>
<p><b>{{'ElectricalReceivers1Category' | translate}}</b>{{'ElectricalReceivers1-1Category' | translate}}</p>
<p><b>{{'ElectricalReceivers2Category' | translate}}</b>{{'ElectricalReceivers2-2Category' | translate}}</p>
<p><b>{{'ElectricalReceivers3Category' | translate}}</b>{{'ElectricalReceivers3-3Category' | translate}}</p>

<div class="buttons_field">
  <button mat-button color="warn" class="confirm_button" (click)="close()">{{'Close' | translate}}</button>
</div>
