.control_panel {
  background: #FFFFFF;
  padding: 26px 11px;
  margin-bottom: 1%;
  padding-right: 3%;
  box-shadow: 1px 2px 15px rgba(114, 135, 167, 0.11);
  border-radius: 7px;
  mat-form-field{
    width: 100%;
  }
}

.template_b{
  padding: 10px;

  .btn_list{
    display: flex;
    flex-wrap: wrap;
  }
  .btn_list > div{
    margin-top: 10px;
  }
  .btn_list button{
    margin-right: 10px;
  }

  .button_agreement {
    background: #5cb85c;
    color: #fff;
  }
  .btn_warn{
    background: #f44336;
    color: #fff;
  }

  .confirm_button{
    margin-right: 10px;
  }
}
.right_button {
  float: right;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.screen_btn{
  width: 100%;
}
.zoom_editor{
  zoom: 2;
}
