@import "../../../assets/fonts/Spectral/font-stylesheet.css";

.header-lang-wrap {
  width: 87px;
  height: 40px;
  background: white;
  border: 1px solid #05A1DF;
  border-radius: 38px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 59px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;

  .header-lang {
    .lang_selected {
      color: #05A1DF;
    }

    .mat-select-arrow-wrapper {
      padding-right: 10px;

      .mat-select-arrow {
        color: #05A1DF;
      }
    }
  }
}

.header_top_elements {
  background: #F0F0F0;
  height: 44px;

  .title {
    font-family: Spectral-Medium, sans-serif;
    font-size: 15px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #4C4C4C;
    margin-left: 40px;
  }

  .header_phone_btn {
    border: none;
    background: none;
    margin-right: 5px;
  }

  .phone_text {
    font-family: Spectral-Medium, sans-serif;
    font-size: 13px;
    line-height: 16px;
    text-align: right;
    color: #606060;
  }

  .phone_number {
    a {
      text-decoration: none;
      color: #0096D5;;
    }

    font-family: Spectral-Bold, sans-serif;
    font-size: 13px;
    line-height: 16px;
    text-align: right;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 40px;
  }
}

.header_middle_elements {
  padding: 0 25px;
  height: 74px;
  justify-content: space-between;

  .rigth_header {
    display: flex;
    align-items: center;
  }

  .logo {
    display: block;
    max-width: 100%;
    height: 60px;
    margin: 0 auto;
    cursor: pointer;
  }

  .header_text {
    font-family: Spectral-Medium, sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 108.3%;
    color: #0096D5;
  }

  .header_text_kz {
    display: flex;
  }

  hr {
    border: none;
    border-left: 2px solid #d2d2d2;
    height: 29px;
    width: 1px;
    margin-top: 16px;
  }

  .search {
    z-index: 1000;
    height: 35px;
    width: 300px;
    border-radius: 34px;
    margin-top: 15px;

    mat-button-toggle {
      background: #F0F0F0;
      width: 60px;
      height: 50px;
    }

    input {
      width: 500px;
      font-family: Spectral-Medium, sans-serif;
      font-size: 12px;
      line-height: normal;
      background: #F0F0F0;
      padding-left: 4em;
      letter-spacing: 0.05em;
      border: none;
      color: #4C4C4C;
    }

    input:focus {
      outline: none;
    }
  }

  .profile {
    margin-right: 15px;
    background: #FFFFFF;
    border: 1px solid #009846;
    box-sizing: border-box;
    border-radius: 38px;
    height: 40px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: #000;

    span:nth-child(2) {
      margin-left: 10px;
    }

    span:nth-child(4) {
      background: #039800;
    }
  }

  .dot {
    height: 4px;
    width: 4px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 3px;
  }

  .lang_ru {
    border-radius: 34px;
    margin-top: 15px;

    img {
      width: 28px;
      height: 28px;
      margin-left: -9px;
      margin-right: 9px;
      box-sizing: border-box;
    }

    span {
      font-family: Spectral-Medium, sans-serif;
      font-size: 11px;
      line-height: 14px;
      text-align: right;
      color: #4C4C4C;
    }
  }

  .lang_kz {
    @extend .lang_ru;
  }

  .active_lang {
    background: #F0F0F0;
  }

}

.mat-menu-panel {
  width: 330px;
  max-width: 310px !important;
  margin-top: 5px;
  box-shadow: 1px 2px 15px rgba(33, 81, 113, 0.11);
  border-radius: 7px;
  background: #fff !important;

  .profile_btns {
    border-bottom: 1px solid white;
    font-family: Spectral-Medium, sans-serif;
    font-size: 13px;
    line-height: 16px;
    text-transform: uppercase;
    text-align: left;
    color: #009846;
  }
}

.header_bottom_elements {

  height: 38px;
  background: linear-gradient(180deg, #0fb75c 0%, #009846 100%);

  p {
    font-family: Spectral-Medium, sans-serif;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.05em;
    margin: 0 32px;
    color: #FFFFFF;
  }

  div {

    height: 100%;
    display: flex;
    align-items: center;
  }

  div:hover {
    background: #009846;
    p{
      font-weight: 700;
    }
  }

  a {
    text-decoration: none !important;
  }
}

@media only screen and (max-width: 599px) {
  .header_top_elements, .search {
    display: none !important;
  }
  .header_bottom_elements {
    flex-flow: row wrap !important;
    height: 100%;
    padding: 0 20px;
  }
  .header_middle_elements {
    .profile {
      width: 100%;
    }
  }

  .mat-menu-panel {
    width: 100% !important;
  }
}

@media only screen and (max-width: 959px) {
  .profile {
    margin-bottom: 15px;
  }
  .header_middle_elements {
    .hr {
      display: none !important;
    }

    .header_text {
      text-align: center;
    }

    .lang_ru {
      margin-bottom: 15px;
    }
  }
  .header_bottom_elements {
    p {
      margin: 0 10px;
      font-size: 10px;
    }
  }
}

@media only screen and (max-width: 1279px) {
  .header_middle_elements {
    height: 100% !important;
  }


  .search {
    max-width: 100%;
  }
}

@media only screen and (max-width: 1150px) {
  .header_middle_elements {
    .profile {
      width: 180px;
    }

    .profile_iin {
      display: none;
    }
  }

  .mat-menu-panel {
    width: 180px;
  }


}

@media (min-width: 1279px) and(max-width: 1400px) {
  .search {
    max-width: 90%;
  }

  .header_middle_elements {
    .profile {
      width: 300px;
    }
  }
  .mat-menu-panel {
    width: 180px;
  }
}
