@import "../../../../assets/fonts/Spectral/font-stylesheet.css";
.control_panel {
  background: #FFFFFF;
  margin-bottom: 1%;
  padding: 0 2% 2% 2%;
  box-shadow: 1px 2px 15px rgba(114, 135, 167, 0.11);
  border-radius: 7px;

  button {
    font-family: Spectral-Medium, sans-serif;
    font-size: 14px;
    color: #fff;
    background: #0096D5;
  }
  .header_btn_groups {
    margin-right: 1%;
    button:nth-child(1) {
      margin-right: 3%;
    }
  }
  .mat-form-field-appearance-legacy .mat-form-field-underline {
    height: 0 !important;
  }
  input.mat-input-element {
    background: #ffffff;
    border: 1px solid #c3c3c3fa;
    border-radius: 4px;
    padding: 10px 0px 10px 10px;
    width: 100%;
  }

  .mat-form-field-prefix, .mat-form-field-suffix {
    top: -10px;
  }

}


.head_control_panel {

  padding: 6px 0 6px 0;
  margin-bottom: 1%;
  p {
    text-transform: uppercase;
  }
  .info_title {
    font-family: Spectral-Medium, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: #2B3A51;
    span {
      color: #0096D5;
    }
  }
  .arch_users {
    display: flex;
    font-family: Spectral-Medium, sans-serif;
    font-size: 14px;
    line-height: 12px;
    padding: 0 20px 0 0;

    border-radius: 2px;
    img {
      margin-right: 10px;
    }
    mat-checkbox {
      font-family: Spectral-Medium, sans-serif;
      font-size: 14px;
      line-height: 12px;
    }
  }
  button {
    font-family: Spectral-Medium, sans-serif;
    font-size: 14px;
    color: #fff;
    background: #0096D5;

  }
  .information_title {
    margin-bottom: 5px;
  }

  .refusal {
    background: red;
  }
  .header_btn_groups {
    margin-right: 1%;
    button:nth-child(1) {
      margin-right: 3%;
    }
  }

  .ozo_fields {
    margin-left: 2%;
    font-family: Spectral-Medium, sans-serif;
    font-size: 14px;
    line-height: 12px;
  }

}
.ckeditor{
  margin-top: 2vh;
  margin-bottom: 4vh;
}

.btn {
  font-family: Roboto-Bold, sans-serif;
  font-size: 14px;
  border-radius: 25px;
}

.btn-green {
  color: #fff;
  background: #049f4b;
}
