mat-dialog-content {
  p {
    font-family: Spectral-Medium, sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 108.3%;
    color: #009A00;
    text-align: center;
  }


}
mat-form-field{
  width:  100%;
}
.filterOrgs {
  height: 50px !important;
  padding: 10px !important;
}

.continue {
  margin-right: 10px;
}

