@import "../../directory/adm-documents/adm-documents.component";
.filterBtn{
  background: #0096D5;
  color: #FFFFFF;
  font-family: Spectral-Medium, sans-serif;
  font-size: 14px;
  text-align: center;
}
