<div fxFlex="90" [fxFlexOffset.md]="5" fxFlex.md="90" fxFlex.sm="90" [fxFlexOffset.sm]="5" fxFlexOffset="5">
  <div class="container" fxLayout="row" fxLayoutAlign="space-between center">

    <div fxLayout="column">
      <mat-radio-group *ngIf="sectionId !== '3'" [(ngModel)]="sort" class="sort_tasks"><span>{{'Sortirovat' |
          translate}}:</span>
        <mat-radio-button (change)="getTasks($event.value)" value="signedDate">{{'byReceiptDate' | translate}}
        </mat-radio-button>
        <mat-radio-button (change)="getTasks($event.value)" value="planEndDate">{{'byExecDate' | translate}}
        </mat-radio-button>
      </mat-radio-group>

      <app-table-filter [parallelForm]="false" *ngIf="isFilterComponent" fxFlex="70"
        [displayedColumnsForFilter]="displayedColumnsForFilter"></app-table-filter>
      <div class="filter" fxLayoutAlign="end center">
        <button class="filter_btns filter_close_btn" mat-button *ngIf="isFilterComponent"
          (click)="showFilterComponent()" fxLayoutAlign="center center">{{'Close' | translate}}
        </button>
        <button class="filter_btns" mat-button *ngIf="isFilterComponent" (click)="getTasks()"
          fxLayoutAlign="center center">{{'Execute' | translate}}
        </button>
      </div>

    </div>


    <div fxLayout="row" *ngIf="!isFilterComponent" fxFlex="60" [fxFlexOffset.sm]="2" fxFlex.xs="100"
      fxLayoutAlign="space-around center" class="filter">
      <button mat-button class="filter_btns" *ngIf="!isFilterComponent" (click)="showFilterComponent()"
        fxLayoutAlign="center center">{{'Filter' | translate}}
      </button>


      <button mat-button class="export" (click)="downloadExcelFile()">
        <span>EXCEL</span>

        <img src="../../../assets/icons/file.svg">
      </button>

      <button *ngIf="sectionId === '3'"
              mat-button
              class="results-export"
              (click)="downloadResultsFile()">
        <span>
          {{ 'Results' | translate }}
        </span>

        <img src="assets/icons/file.svg"
             alt="file">
      </button>

      <button *ngIf="sectionId === '9'" mat-button class="filter_btns" (click)="reassignAll()">
        <span>Переназначить все</span>
      </button>

      <button mat-button class="refresh" (click)="refresh()">
        <img src="../../../assets/icons/refresh.svg">
      </button>

    </div>


  </div>


  <div>
    <p ngClass="table_title">{{taskName | translate }}</p>
    <mat-table [dataSource]="dataSource" ngClass="external_table" class="mat-elevation-z8">


      <!-- Position Column -->
      <ng-container matColumnDef="position">
        <mat-header-cell *matHeaderCellDef> №.</mat-header-cell>
        <mat-cell *matCellDef="let element;let i = index"> {{getCount() + i+1}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef>{{'RegNumberApps' | translate}}</mat-header-cell>
        <mat-cell *matCellDef="let element;let row">

          <span *ngIf="element.content">{{element.content.idx}}</span>
          <span class="active_links">*</span>

        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="startTime" *ngIf="hasColumn('startTime')">
        <mat-header-cell *matHeaderCellDef>{{'ReceivedDate' | translate}}</mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{getTimeBySectionId(element) | date:'dd.MM.yyyy HH:mm'}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="iin" *ngIf="hasColumn('iin')">
        <mat-header-cell *matHeaderCellDef>{{'IINBIN'| translate}}</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span *ngIf="element.content && element.content.iin">{{element.content.iin }} / {{element.content.bin}}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="applicant" *ngIf="hasColumn('applicant')">
        <mat-header-cell *matHeaderCellDef>{{'Applicant'| translate}}</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span *ngIf="element.content && !element.content.bin">{{element.content.firstName}}
            {{element.content.lastName}}</span>
          <span *ngIf="element.content && element.content.bin">{{element.content.orgName}}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="typeRequest" *ngIf="hasColumn('typeRequest')">
        <mat-header-cell *matHeaderCellDef> {{'subserviceId' | translate}}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.content.subserviceType}}</mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>{{'Task' | translate}}</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}}</mat-cell>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="assignee">
        <mat-header-cell *matHeaderCellDef>{{'executorName' |translate}}</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.assignee}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="StartTimeTask" *ngIf="sectionId === '3' || sectionId === '44'">
        <mat-header-cell *matHeaderCellDef> {{'startTime' | translate}}</mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{element.startTime | date:'dd.MM.yyyy HH:mm'}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="endTime" *ngIf="sectionId === '3' || sectionId === '44'">
        <mat-header-cell *matHeaderCellDef> {{'endTime' | translate}}</mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{element.endTime | date:'dd.MM.yyyy HH:mm' }}
        </mat-cell>
      </ng-container>
      <!-- Symbol Column -->
      <ng-container matColumnDef="formKey">
        <mat-header-cell *matHeaderCellDef>{{'ExecutionDate' |translate}}</mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{element.content.planEndDate | date:'dd.MM.yyyy HH:mm' }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="timer">
        <mat-header-cell *matHeaderCellDef> Таймер</mat-header-cell>
        <mat-cell *matCellDef="let element; let i = index">
          <mat-list-item role="listitem" class="list_field date_field online_timer"
            [style.color]="rowColorByTimer(element)" *ngIf="!element.archSigned">
            {{ element.timerData ? (element.timerData.days + "д " + element.timerData.hours + "ч " +
            element.timerData.minutes + "м " + element.timerData.seconds) : '' }}
          </mat-list-item>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="status" *ngIf="hasColumn('status')">
        <mat-header-cell *matHeaderCellDef> {{'Status' | translate}}</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span *ngIf="sectionId !== '44'">
            <i class="material-icons refusal" *ngIf="element.content.approved === false" matTooltip="Отказано">
              remove_circle_outline
            </i>
            <i class="material-icons approved" matTooltip="Положительно" *ngIf="element.content.approved === true">
              check_circle_outline
            </i>
          </span>
          <span *ngIf="sectionId === '3'">
            <i *ngIf="element.content['revoked']"
               class="material-icons approved"
               matTooltip="Отозвано">
              assignment_return
            </i>
          </span>

        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>{{'Operations' |translate}}</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-button color="warn" (click)="delete(element)">Удаление</button>
          <button mat-button color="green" (click)="restart(element)">Сбросить</button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="showMyTask(row)"></mat-row>
    </mat-table>

    <ul style="display: none;">
      <li> Emp Name | Emp code</li>
      <li
        *ngFor="let item of dataSource  | paginate:{itemsPerPage: pageSize, currentPage:currentPage, totalItems: totalElements }">
        {{item.name}} | {{item.id}}
      </li>
    </ul>
    <pagination-controls class="my_pagination" fxLayout="row" fxLayoutAlign="end center" [directionLinks]="false"
      (pageChange)="pageChange($event)"></pagination-controls>
  </div>

</div>
