<section *ngIf="sectionId == '9'">
  <div fxLayout="row" class="header_btn_groups flex-end">
    <button mat-button class="refusal btn-red" (click)="refusal()">{{'Отказ' | translate}}
    </button>
    <button mat-button [disabled]="sectionId !== '9'" class="btn-green"
      *ngIf="dataTaskDecide.signedDocument || hasServiceType('TASK')" (click)="approved()">{{'Next' | translate}}
    </button>
  </div>
</section>
<section *ngIf="sectionId !== '9'">
  <div fxLayout="row" *ngIf="sectionId !== '8' || hasServiceType('SIGN') || hasAssignee();else content"
    fxLayoutAlign="space-between center" class="head_control_panel">
    <div class="arch_users">
      <p class="info_title">{{'AppInformation' | translate}}<span>№ {{app.idx || app.id}}</span></p>
    </div>

    <div class="arch_users" fxLayout="row" fxLayoutAlign="space-between center">
      <p class="arch-komu">{{'Komu' | translate}}</p>

      <mat-form-field class="field_width">
        <mat-select [(value)]="assignee" class="special_mat_select" [disabled]="sectionId !== '9'" disableRipple>
          <mat-option [value]="0">{{'poPoryadku' | translate}}</mat-option>
          <mat-option *ngFor="let item of assignees" [value]="item.username">{{item.lastName}} {{item.firstName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>


    <div *ngIf="!hasServiceType('SIGN') || isHead">
      <div *ngIf="sectionId !== '3'" fxLayout="row" class="header_btn_groups">
        <button mat-button [disabled]="sectionId !== '9'" class="refusal" *ngIf="isHead"
          (click)="refusal()">{{'Refinement' | translate}}
        </button>
        <button mat-button [disabled]="sectionId !== '9'"
          *ngIf="dataTaskDecide.signedDocument || hasServiceType('TASK')" (click)="approved()">{{'Next' | translate}}
        </button>
      </div>
    </div>
  </div>
  <ng-template #content>
    <div fxLayout="row" fxLayoutAlign="space-between center" class="head_control_panel">
      <div class="arch_users">
        <p class="info_title">{{'AppInformation' | translate}}<span>№ {{app.idx || app.id}}</span></p>
      </div>

    </div>
  </ng-template>

  <div fxLayout="column" class="control_panel">
    <div fxLayout="row wrap" fxLayoutAlign="space-between top">
      <div class="app_data">
        <p><span>№ {{app.idx || app.id}}</span> <span class="service_text"> {{getRegionById(app.regionId)}}</span></p>
        <p>{{sectionId}}</p>
        <p class="service_name">{{task.name}}</p>

        <p class="service_text" *ngIf="app.id">{{app.subservice["name"+capitalizeFirstLetter(currentLang)]}}</p>
        <p class="service_text">{{'From' | translate}}{{task.content.from}}</p>

        <div fxLayout="row">
          <button mat-button *ngIf="task.assignee" class="aisgzk_btn" (click)="showHistory()">{{'movHistory' |
            translate}}
          </button>

          <button mat-button fxFlexOffset="5" [disabled]="sectionId !== '9'" *ngIf="task.assignee" class="aisgzk_btn"
            (click)="showMyOwnTasks()">{{'ReqHistory' | translate}}
          </button>

          <button mat-button fxFlexOffset="5" [disabled]="sectionId !== '9' && sectionId !== '8'" class="aisgzk_btn"
            *ngIf="hasGbdAccess" (click)="showAisgzkComponent()">АИС ГЗК
          </button>

          <button mat-button fxFlexOffset="5" [disabled]="sectionId !== '9'"
            *ngIf="dataTaskDecide.order === '5' && app.subservice.id === 25" class="aisgzk_btn" (click)="finishedTask()"
            matTooltip="Завершить услугу и отправить заявителю на изготовление зем.проекта">{{'EndService' |
            translate}}
          </button>

          <button mat-button fxFlexOffset="5" [disabled]="sectionId !== '9' && sectionId !== '8'" class="aisgzk_btn"
            *ngIf="hasGbdAccess" (click)="onShowGbdSearch()">ГБД
          </button>

        </div>

      </div>

      <div class="app_data_date">
        <p><span>{{'Date' | translate}}</span> {{app.createDate | date:'dd.MM.yyyy HH:mm' }}</p>
        <p><span>{{'dueDate' | translate}}:</span> {{task.content.planEndDate | date:'dd.MM.yyyy HH:mm' }}</p>

        <div fxLayout="row" fxLayoutAlign="end end" class="service_btn_groups">
          <div class="checkbox" fxFlexOffset="5">
            <mat-checkbox [disabled]="sectionId !== '9'" [(ngModel)]="isRefusal">{{'Refusal' | translate}}:
            </mat-checkbox>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="dataTaskDecide">
      <!--<app-files-upload *ngIf="dataTaskDecide" (updateTask)="updateTask($event)" [currentUser]="currentUser"
                      [fileCategories]="fileCategories"
                      [app]="null" [sectionId]="sectionId" [taskDecide]="dataTaskDecide"></app-files-upload>-->
      <app-files-upload [type]="'userapp'" [sectionId]="sectionId" [fileCategories]="appFileCategories" [app]="app">
      </app-files-upload>


    </div>

  </div>


  <div fxLayout="row" *ngIf="hasServiceType('SIGN') && isHead && sectionId ==='9'" fxLayoutAlign="end center"
    class="control_panel">
    <!--<button mat-button class="header_btn_groups" [disabled]="dataTaskDecide.signedDocument" (click)="signAndComplete();">
    Подписать и Далее
  </button>-->

    <button *ngIf="!isSelectStorageBtn()" mat-button class="header_btn_groups"
      [disabled]="dataTaskDecide.signedDocument" (click)="getSignXml();">
      {{'SignECP' | translate}}
    </button>

    <button *ngIf="isSelectStorageBtn()" mat-button class="header_btn_groups" [disabled]="dataTaskDecide.signedDocument"
      (click)="selectStorageSignXml();">
      {{'SignECP' | translate}}
    </button>
  </div>

</section>
