<div fxFlex="80" fxFlexOffset="10">
  <div fxLayout="row wrap" fxLayoutAlign="center center">
    <div class="card_1" fxFlex.xs="100" fxFlex.md="49" fxFlex.sm="49" fxLayout="column" fxLayoutAlign="center center">
      <p class="number">{{currentTasks}}</p>
      <p class="card_title">{{'NumberOfReceivedMes' | translate}}</p>
    </div>

    <div class="card_2" fxFlex.xs="100" fxFlex.md="49" fxFlex.sm="49" fxLayout="column" fxLayoutAlign="center center">
      <p class="number">{{finishedTasks}}</p>
      <p class="card_title">{{'NumberOfExecutedMes' | translate}}</p>
    </div>
  </div>
</div>
