@import "../../bez-torg-reg/bez-torg-reg-header/bez-torg-reg-header.component.scss";
mat-panel-title {
    margin: 20px 0;
    background: #0096D5;
    color: #FFFFFF;
    padding: 10px;
    font-family: Spectral-Medium, sans-serif;
    font-size: 14px;
    line-height: 12px;
  }