<div fxLayout="column" fxFlex="76" [fxFlexOffset.md]="5" fxFlex.md="90" fxFlex.sm="90" [fxFlexOffset.sm]="7"
     fxFlexOffset="12">
  <div>
    <mat-form-field class="block__half">
      <mat-select placeholder="{{'AllServices' | translate}}" [(ngModel)]="selectedServiceId"
                  (ngModelChange)="getTemplates( selectedServiceId);">
        <input class="filterOrgs" matInput focused="'true'" type="text" (keyup)="searchByServices($event.target.value)"
               autocomplete="off" placeholder="Поиск по услугам">
        <mat-divider></mat-divider>
        <!--  [compareWith]="compareFnSubSers"-->
        <mat-option *ngFor="let item of servicesCopy" value="{{item.id}}">
          {{item.shortNameRu}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div fxLayout="row" fxFlexOffset="10" class="user_content region" fxLayoutAlign="start center">
      <!--<mat-label class="text" fxLayoutAlign="center center">Регион </mat-label>-->


      <app-select-region [subserviceId]="39" (setSelectedRegionId)="setSelectedRegionId($event)" class="full-width"></app-select-region>

    </div>
  </div>



  <div>
    <div class="template_b">
      <h4 class="title_template">{{'Patterns' | translate}}</h4>
      <div class="block__full">
        <div class="d_block">
          <div class="block__half square button_agreement"></div>
          <div class="block__half">{{'PatternsForMatching' | translate}}</div>
        </div>
        <div class="d_block">
          <div class="block__half square btn_warn"></div>
          <div class="block__half">{{'PatternsForReject'| translate}}</div>
        </div>
      </div>
      <div class="btn_list">
        <div *ngFor="let template of orgTemplates;">
          <mat-button-toggle-group class="confirm_button">
            <mat-button-toggle (click)="setTemplate(template)"
                               [ngClass]="{'button_agreement': template.approved, 'btn_warn': !template.approved}"
                               mat-raised-button>{{template.nameRu }}
              <span class="active_links"></span>
            </mat-button-toggle>
            <mat-button-toggle (click)="removeTemplate(template)" class="btn_warn">x</mat-button-toggle>
          </mat-button-toggle-group>
        </div>
      </div>
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-between center">
    <div>
      <button mat-raised-button color="primary" (click)="addNewTemplate()">{{'AddNewPattern' | translate}}</button>
    </div>

    <div *ngIf="hasTemplate">
      <mat-radio-group class="radio_buttons field_width mrg_l" [(ngModel)]="templateData.approved">
        <mat-radio-button [value]="true" [checked]="templateData.approved">
          <span class="confirm_action">Согласование</span>
        </mat-radio-button>
        <mat-radio-button [value]="false" [checked]="!templateData.approved">
          <span class="confirm_action">{{'Refusal' | translate}}:</span>
        </mat-radio-button>
      </mat-radio-group>
    </div>

    <div fxFlex="30" fxLayoutAlign="space-between center">
      <button mat-raised-button (click)="cancel()" *ngIf="hasTemplate">Отмена</button>
      <button mat-raised-button color="primary" (click)="prepareData()" *ngIf="hasTemplate">{{'Save' | translate}} шаблон</button>
    </div>
  </div>

  <div fxLayout="row" style="margin-top: 20px">
    <div fxLayout="column" fxFlex="50">
      <mat-form-field class="field_width">
        <input matInput type="text" [(ngModel)]="templateData.nameRu" placeholder="{{'PatterNameRu'| translate}}">
      </mat-form-field>
      <mat-form-field class="field_width">
        <input matInput type="text" [(ngModel)]="templateData.nameKk" placeholder="{{'PatterNameKk' | translate}}">
      </mat-form-field>
    </div>
    <div>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{'PatternsForReplace' | translate}}
            </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <table matSort (matSortChange)="sortData($event)">
            <tr>
              <th mat-sort-header="name">Исходные данные</th>
              <th mat-sort-header="calories">Заменить на</th>
            </tr>

            <tr *ngFor="let tag of sortedData">
              <td>{{tag.from}}</td>
              <td>{{tag.to}}</td>
            </tr>
          </table>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>

  <div fxLayoutAlign="start center">
    <button class="preview_pdf" mat-button (click)="previewPdf()">{{'Preview' | translate}}</button>
  </div>

  <div fxLayoutAlign="center center">
    <app-editor [text]="templateData.text" [sectionId]="'9'" (setText)="setText($event)" [hasComment]="false"></app-editor>

  </div>

</div>
