.mapcontainer {
  max-width: 600px;
  width: 100%;
  background-color: grey;
  padding-top: 100%;
  position: relative;
}

#archappcardmapid {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

